@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-family {
  font-family: "Nunito", sans-serif;
}

.h-100px {
  height: 100px;
}
.h-500px {
  height: 500px;
}

.h-350px {
  height: 350px;
}

.fs-1-5 {
  font-size: 3rem;
}

/* HEADER */
.header {
  /* background-color: #c8a2c8; */
  /* background-color: #c7a9f2; */
  background-color: #6c4bb8;
  /* box-shadow: 10px 5px 20px 20px white; */
}

.navbar-nav .links-hover:hover,
.navbar-nav a.links-hover:hover {
  color: #c7a9f2 !important;
  transition: all 0.3s ease;
}

.navbar-nav .links-hover:active,
.navbar-nav a.links-hover:active {
  color: white !important;
  transition: all 0.3s ease;
}

/* HOME PAGE MAIN */
.hero {
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/public/img/cats-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  z-index: 0;
}

.hero > * {
  height: 100vh;
  position: relative;
  z-index: 1;
}

.wrapper-bg-color {
  background-color: #f5f5f5;
}

.contact-btn {
  background-color: #6c4bb8;
  font-weight: 500;
}

.contact-btn:hover {
  background-color: #7457b6;
}

.card {
  height: 300px;
  width: 400px;
}

.card img {
  height: 100%;
}

/* APPLICATION FORM */
.form-cont {
  height: 100%;
}

form {
  height: fit-content;
  width: fit-content;
}

form #sumbitFormBtn {
  background-color: #6c4bb8;
}

form #sumbitFormBtn {
  background-color: #7457b6;
}

#addMemberBtn {
  background-color: rgb(82, 106, 243);
}

.form-bg-color {
  background-color: #f5f0ff;
}

/* FOOTER */
footer {
  height: 100px;
  background-color: #6c4bb8;
  color: white;
}
